footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.info {
  display: flex;
  align-items: center;

  font-size: 1.5rem;

  padding: 1rem;

  gap: 0.5rem;
}

h2 {
  font-family: "Funnel Display", sans-serif;
  font-size: 1.8rem;
}
