@import "../App.css";

.menuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.menuContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  padding: 2rem 1rem;
  border: 1px solid;
  border-radius: 20px;
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
}

.menuContent h3 {
  border: 1px solid;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.menuOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuSettings {
  display: flex;
  flex-direction: column;
}

.menuContent img {
  margin-top: 1rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  max-width: 350px;
}

.menuTimerContainer label {
  font-weight: 600;
  font-size: 1.2;
  margin: 1rem 0;
}

.menuTimerContainer label:nth-child(1) {
  margin: 0 0 1rem 0;
}
.menuContent input,
.menuContent select {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem;

  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.menuTimerContainer,
.menuThemesContainer,
.menuSoundsContainer {
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
}

.menuSoundsContainer div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.menuSoundsContainer input {
  padding: 0;
  margin: 1.5rem 0;
  /* appearance: none; */
  accent-color: white;
  outline: none;
  border-radius: 12px;
}

.menuSoundsContainer input::-webkit-slider-thumb {
  /* appearance: none; */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: white;
  border: 5px solid red;
  cursor: pointer;
}
.menuSoundsContainer svg {
  width: 2.5rem;
  height: auto;
}
.menuSoundsContainer select {
  flex: 1;
}

.menuButtons {
  align-self: center;
  display: flex;
  gap: 2rem;
}
.close,
.save {
  font-size: 1.2rem;
  border: 1px solid;
  border-radius: 20px;
  padding: 0.5rem 1rem;

  background-color: transparent;
}

.save {
  padding: 0 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
