@import "../App.css";

.toDoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.toDoItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  max-height: 200px;
  gap: 1rem;
  /* padding: 0 1rem; */
  /* border: 1px solid var(--primary-color); */
  /* border-radius: 20px; */
  /* overflow: scroll; */

  /* -ms-overflow-style: none; */
  scrollbar-width: 1px;
  overflow-y: scroll;

  padding-right: 0.5rem;
}

.toDoItems::-webkit-scrollbar {
  /* display: none; */
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toDoEntry {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 1rem 0.5rem;

  gap: 1rem;

  /* border-bottom: 1px solid; */
  border: 1px solid;
  border-radius: 10px;

  backdrop-filter: blur(7px);
}

.toDoEntry svg {
  width: 1.5rem;
  height: auto;
}

.toDoEntry div {
  display: flex;
  gap: 0.5rem;
}

.toDoHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toDoHeading h3 {
  font-size: 2rem;
}

.toDoHeading svg {
  width: 2.5rem;
  height: auto;
}

.toDoHeading svg:hover {
  cursor: pointer;
  width: 3rem;
  transition: 0.1s ease-in;
}

.toDoEntry svg:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .toDoItems {
    max-height: 350px;
  }
}
